extends ../layout

block content
    script(src="/editor/ckeditor.js")
    section
        header(class="major")
            h2 공지사항

        form(method="POST" action="/notice/write" class="write_notice")
            hr
            div(class="12u$(xsmall) notice_title")
                input(type="text" name="title" id="notice-title" value="" placeholder="제목" required)
            div(class="12u$ notice_content")
                textarea(name="editor1" id="editor1" rows="10" cols="80")
                script.
                    CKEDITOR.replace( 'editor1', {
                        filebrowserUploadUrl: '/upload',
                        extraPlugins : 'image2',
                        height: 300
                    }); 
            hr
            a(class="button special" id="posting") 게시글 작성
    script.
        $('document').ready(function() {
            $('#posting').click(function() {
                if(confirm('정말 작성하시겠습니까?')) {
                    $('.write_notice').submit();    
                }
            });
        });