extends ../layout

block content
    script(src="/assets/js/post_list.js")
    section
        header(class="major category_header")
            h2(class=category_type)= category_name
                span(class="contents_num") 
                input(type="hidden" value=category_name class="category_name")
        div(class='post_list')
        hr
        .page
            ul(class="pagination")
        .input_form