extends layout

block content
    section
        header(class="major")
            h2 공지사항

        form(method="POST", action="/write_notice/write")
            hr
            div(class="12u$(xsmall) notice_title")
                input(type="text" name="title" id="notice-title" value="" placeholder="제목")
            div(class="12u$ notice_content")
                textarea(name="contents" id="notice-contents" placeholder="내용을 작성하세요" rows="6")
            hr
            a(class="button special" id="posting") 게시글 작성